<div class="content">
Welcome to Wordnatra.<br/>
To get started, search for a word.<br/>
For information on this project and the technologies used, see the following links:<br/>

<ul class="link-list">
  <li><%= link_to 'Wordnatra', 'http://github.com/gnugeek/wordnatra/tree/master' %></li>
  <li><%= link_to 'Wordnet', 'http://wordnet.princeton.edu/' %></li>
  <li><%= link_to 'Ruby', 'http://www.ruby-lang.org/' %></li>
  <li><%= link_to 'MySQL', 'http://www.mysql.com' %></li>
  <li><%= link_to 'Sinatra', 'http://sinatra.rubyforge.org/' %></li>
  <li><%= link_to 'DataMapper', 'http://datamapper.org/doku.php' %></li>
</ul>
</div>