<div id='wordnatra_index'>
  <div id='wordnatra_welcome'>
    <h2>Welcome to Wordnatra!</h2>
  </div>

  <div id='wordnatra_info'>
    <p>Wordnatra is a web interface to WordNet, a lexical database of the english language created and   maintained by the Cognitive Science Laboratory of Princeton University.  The goal of Wordnatra is to allow easy exploration of the semantic relationships between words in the english language. To play, just search for a word.</p>
    <p>Wordnatra is a work in progress, and periodic releases will be pushed as new features become available.</p>
    <p>The Wordnatra source code is available at <%= link_to 'Github', 'http://github.com/gnugeek/' %></p>
  </div>
</div>

<div id='sidebar'> 
  <div id='sinatra_welcome'>
    <h3>Sinatra</h3>
  </div>
  
  <div id='sinatra_info'>
    <p>"Sinatra is a Domain Specific Language(DSL) for quickly creating web-applications in ruby. It keeps a minimal feature set, leaving the developer to use the tools that best suit them and their application."</p>
  </div>
  
  <div id='sinatra_links'>
    <ul>
      <li><%= link_to 'Sinatra Home Page', 'http://sinatra.rubyforge.org/' %></li>
      <li><%= link_to 'Sinatra Book', 'http://sinatra.rubyforge.org/book.html' %></li>
      <li><%= link_to 'Sinatra Github', 'http://github.com/bmizerany/sinatra/tree/master' %></li>
    </ul>
  </div>
  
  <div id='wordnet_welcome'>
    <h3>Wordnet</h3>
  </div>

  <div id='wordnet_info'>
    <p>"WordNet is a large lexical database of English, developed under the direction of George A. Miller.  Nouns, verbs, adjectives and adverbs are grouped into sets of cognitive synonyms (synsets), each expressing a distinct concept. Synsets are interlinked by means of conceptual-semantic and lexical relations. The resulting network of meaningfully related words and concepts can be navigated with the browser. WordNet is also freely and publicly available for download. WordNet's structure makes it a useful tool for computational linguistics and natural language processing."</p>
  </div>
  
  <div id='wordnet_links'>
    <ul>
      <li><%= link_to 'Wordnet Home Page', 'http://wordnet.princeton.edu/' %></li>
      <li><%= link_to 'Wordnet Faq', 'http://wordnet.princeton.edu/faq' %></li>
      <li><%= link_to 'Wordnet Documentation', 'http://wordnet.princeton.edu/doc' %></li>
    </ul>
  </div>
</div>