<div id='word'>
  <table id='word_table' summary='Wordnet search results for word hello'>
    <caption id='word_caption'>Word: @wordid.lemma</caption>
    <tbody class='word_tbody'>
      <tr>
        <th id='wordid_header'>wordid:</th>
        <td id='wordid_data'><%= @word.wordid %></td>

        <tr></tr>
        <th id='word_lemma_header'>lemma:</th>
        <td id='owrd_lemma_data'><%= @word.lemma %></td>
      </tr>
    </tbody>
  </table>
</div>

<div id='synsets'>
  <table id='synsets_table' summary='Wordnet search results - senses for word hello'>
    <caption id='synsets_caption'>Synsets for hello</caption>
    <tbody id='synsets_tbody'>
      <tr>
        <th id='category_header'>category</th>
        <th id='definition_header'>definition</th>
        <th id='samples_header'>samples</th>
      </tr>
      <% @word.senses.each do |sense| %>
      <tr>
        <td id='category_<%= @word.lemma %>'  class='category_data'>sense.category_def.name</td>
        <td id='definition_<%= @word.lemma %>' class='definition'><%= sense.synset.definition %></td>
        <td class='sample'><%= show_samples(sense.synset) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
